{% extends 'base.html.twig' %}
{% block title 'Жалюзи в СВАО, Проспект Мира, Алексеевская, Москва. Контакты компании мастерская Жалюзи' %}
{% block h1 %}{{ page.name }}{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ page.name }}</h2>
        <div class="contact-page-wrap">
            <div class="contact-page container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                адрес
                            </div>
                            <div class="value">
                                г. Москва, ул. Проезд Ольминского д 3 А стр. 3  офис 619
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                многоканальный
                            </div>
                            <div class="value">
                                <div>+7 (495) 984-38-48</div>
                                <div>8 (800) 775-72-38</div>
                                <div><a href="mailTo:info@jaluse.ru">info@jaluse.ru</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                режим работы
                            </div>
                            <div class="value">
                                <div>пн-чт</div><div>9:00 — 19:00</div><div>пт</div><div>9:00 — 18:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                консультации и приём заказов
                            </div>
                            <div class="value">
                                <div>пн-вс</div><div>9:00 — 20:00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="map" class="map-wrap"></div>-->
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A38b1d8f8c5d5d8066348504fe70cb997998c6e7e310098f25fb0218516e01521&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
        <div class="company-text-wrap">
            <div class="company-text container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="title">Пешком от метро Алексеевская:</div>
                        <div class="text">
                            <p>единственный выход на проспект Мира, переходите на противоположную сторону проспекта, идете направо в сторону ВДНХ, между домами 99 и 101 поворачиваете налево и идете по дороге (справа от Вас будут дома 101 с разными корпусами) до серого административного здания, вам нужен центральный подъезд с крыльцом. 6 эт. офис 619</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="title">На машине:</div>
                        <div class="text">
                            <p><b>Из центра:</b> Из центра: под эстакадой на ВДНХ развернитесь в сторону центра, поверните направо на проезд Ольминского,  едете  до д.3 «А» 6 эт. 619 офис
                                                 Из области : едете по проспекту Мира в сторону центра, после эстакады на ВДНХ поверните направо на проезд Ольминского,  едете  до д.3 «А» 6 эт. 619 офис</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
