{% extends 'base.html.twig' %}
{% block title 'Жалюзи в СВАО, Проспект Мира, Алексеевская, Москва. Контакты компании мастерская Жалюзи' %}
{% block h1 %}{{ page.name }}{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ page.name }}</h2>
        <div class="contact-page-wrap">
            <div class="contact-page container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                <strong>Адрес самовывоза:</strong>
                            </div>
                            <div class="value mt-2">
                                г. Москва, ул. Проезд Ольминского д 3 А стр. 3 офис 619<br />
                                (Самовывоз и приезд в офис возможен только по предварительному звонку)
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name font-weight-bold">
                                Многоканальный
                            </div>
                            <div class="value">
                                <div>
                                    <a href="tel:+74959843848">+7 (495) 984-38-48</a>
                                </div>
                            </div>
                        </div>
                        <div class="addr-bl">
                            <div class="name font-weight-bold">
                                Дежурный менеджер
                            </div>
                            <div class="value">
                                <div>
                                    <a href="tel:+79104014017">+7 (910) 401-40-17</a>
                                </div>
                            </div>
                        </div>
                        <div class="addr-bl">
                            <div class="name font-weight-bold">
                                Электронная почта
                            </div>
                            <div class="value">
                                <div><a href="mailto:info@jaluse.ru">info@jaluse.ru</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
                        <div class="addr-bl">
                            <div class="name">
                                Режим работы
                            </div>
                            <div class="value">
                                <p>Ежедневно с 9:00 до 20:00</p>
                                <p>Онлайн заявки с сайта — круглосуточно</p>
                            </div>
                            <div class="name mt-3">
                                Замер и монтаж
                            </div>
                            <div class="value">
                                <p>Бесплатный выезд и замер при оформлении заказа в пределах МКАД c 9 до 18 часов</p>
                                <p>Замер и монтаж круглосуточно (с 18:00 до 9:00 платно)</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--<div id="map" class="map-wrap"></div>-->
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A38b1d8f8c5d5d8066348504fe70cb997998c6e7e310098f25fb0218516e01521&amp;source=constructor"
                width="100%" height="400" frameborder="0"></iframe>
        <div class="company-text-wrap">
            <div class="company-text container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="title">Пешком от м. Алексеевская:</div>
                        <div class="text">
                            <p>Выход на проспект Мира, переходите на противоположную сторону проспекта, идете направо в сторону ВДНХ. Поворачиваете налево за Макдональдс и прямо до светофора. Далее направо на проезд Ольминского и по правой стороне второе серого административное здание. Центральный вход, 6 эт. оф. 619.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="title">На автомобиле:</div>
                        <div class="text">
                            <p>Адрес: проезд Ольминского 3А стр. 3. По проспекту Мира в сторону центра, после эстакады ВДНХ поверните направо на проезд Ольминского, далее левее по главной дороге, напротив троллейбусного парка здание дом 3А стр.3, 6 этаж, офис 619.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ include('modules/rating.html.twig') }}
{% endblock %}
