{% extends 'base.html.twig' %}
{% block title page.name %}
{% block h1 page.name %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">

                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ page.name }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div id="text_body">
                        <p>Мы всегда рады новым партнерам как из Москвы, так и из других регионов России и СНГ.<br>
                           Нами разработаны различные схемы сотрудничества, которые эффективно работают на наше с Вами общее благо.</p>

                        <p>Компания «Мастерская Жалюзи» занимается профессиональным изготовлением и монтажом жалюзи всех типов, рулонных штор, рольставней,&nbsp; маркиз, москитных сеток, прозрачных штор&nbsp; из ПВХ для беседок и веранд. &nbsp;Наша фирма имеет собственное производство, на котором собирается и тестируется вся выпускаемая продукция.</p>

                        <p>Мы всегда рады новым партнерам,&nbsp; как из Москвы, так и из других регионов России и СНГ. &nbsp;Нами разработаны различные схемы сотрудничества, которые эффективно работают на наше с Вами общее благо.</p>

                        <p><b><span style="text-decoration: underline;">Основные предложения&nbsp; для работы с дилерами:</span></b></p>

                        <ul>
                            <li>Заключаем&nbsp; дилерский договор, в котором прописываются все условия работы.</li>
                            <li>Мы предоставляем&nbsp; всю рекламную&nbsp; продукцию&nbsp; и образцы изделий по специальным ценам.</li>
                            <li>Обучаем и консультируем Ваших менеджеров, замерщиков, монтажников, проводим&nbsp; шеф-монтажи.</li>
                            <li>Каждому дилеру выделяется персональный&nbsp; квалифицированный менеджер,&nbsp; в чьи обязанности входит всесторонняя&nbsp; помощь&nbsp; в технических и организационных&nbsp; вопросах.</li>
                            <li>Для дилеров&nbsp; в Московском регионе&nbsp; - можем оказывать услуги по&nbsp; замерам и монтажам.</li>
                            <li>Доставляем готовые изделия на адрес клиента в Московском регионе или до транспортной компании в пределах МКАД.</li>
                        </ul>

                        <p>Мы заинтересованы в развитии Вашего бизнеса!!!</p>

                        <p>Свяжитесь с нами, и мы обсудим наилучшие условия работы.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
