{% extends 'base.html.twig' %}
{% block title page.name %}
{% block h1 page.name %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">

                <div class="row">
                    <div class="col-md-12">
                        <h2>Жалюзи для дилеров и партнёров</h2>
                    </div>
                </div>
                <div class="row">
                    <div id="text_body">
                        <p>Мы всегда рады новым партнёрам как из Москвы, так и из других регионов России и СНГ. Компания «Мастерская</p>
                        <p>Жалюзи» занимается профессиональным изготовлением и монтажом жалюзи всех типов, рулонных штор, рольставни, маркиз, москитных сеток, прозрачных штор из ПВХ для беседок и веранд.</p>
                        <p>Мы приглашаем к сотрудничеству торговые и строительные компании, дизайнеров и архитекторов.</p>
                        <h3>Основные предложения для сотрудничества:</h3>
                        <ul>
                            <li>Заключаем официальный договор, в котором прописываются все условия работы.</li>
                            <li>Мы предоставляем рекламную продукцию и образцы изделий по специальным ценам.</li>
                            <li>Обучаем и консультируем Ваших менеджеров, замерщиков, монтажников, проводим шефмонтаж.</li>
                            <li>Каждому дилеру/партнёру выделяется персональный квалифицированный менеджер, в чьи обязанности входит всесторонняя помощь в технических и организационных вопросах.</li>
                            <li>Для дилеров/партнёров в Московском регионе - можем оказывать услуги по замерам и монтажам.</li>
                            <li>Доставляем готовые изделия на объект по Москве в Московской области и транспортной компанией по всей России.</li>

                        </ul>
                        <p>Мы заинтересованы в развитии Вашего бизнеса!</p>
                        <p>Вы можете получить подробную информацию по телефону +7 (495) 984 38 48 или отправьте заявку на электронный адрес: info@jaluse.ru</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
