{% extends 'base.html.twig' %}
{% block title page.title %}
{% block h1 page.name %}
{% block description page.description %}

{% block body %}
<div class="container">
    <div class="row zakaz">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content  content-position-2">
            <div class="row">
                <div class="col-md-12 content">
                    <h2>{{ page.name }}</h2>
                    <p>Наша компания предоставляет профессиональные услуги по замеру, монтажу/демонтажу и доставке:</p>

                    <p><strong>ЗАМЕР:</strong></p>
                    <p>Выезд нашего специалиста с каталогом образцов для замера осуществляется в будни с 9:00-19:00 и в выходные по предварительной договоренности.</p>
                    <p>Стоимость замера по Москве +10 км бесплатно. Далее 1 км – 30 рублей.</p>
                    <p><strong>МОНТАЖ:</strong></p>
                    <p>Минимальная стоимость монтажа от 1-3 изделий – 1800 рублей. Далее стоимость монтажа рассчитывается индивидуально, исходя от количества и сложности монтажа.</p>
                    <p> Монтаж маркиз, рольставень и штор для беседок рассчитывается при выезде на объект.</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}