{% extends 'base.html.twig' %}
{% block title page.name %}
{% block h1 page.name %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">

                <div class="row">
                    <div class="col-md-12">
                        <h2>Видео</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content">

                    </div>
                    <div class="clearfix"></div>

                    <div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/4EawvSgj4BU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Участие в программе "ОТК"<br /> на 1 канале, 2012</p>
                    </div><div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="225" src="https://www.youtube.com/embed/LteEY8iaam0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Участие в программе "ОТК"<br /> на 1 канале, 2011</p>
                    </div><div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/1IeSIFpm28M?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Жалюзи Плиссе</p>
                    </div><div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/7Fn5adjwt8U?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Горизонтальные жалюзи</p>
                    </div><div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/83lYqVCbqZI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Вертикальные жалюзи</p>
                    </div><div class="video-tpl col-xl-4 col-lg-4 col-md-6">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/CWx_jbAMMEI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>Рулонные шторы</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
