{% extends 'base.html.twig' %}
{% block title 'Жалюзи на заказ' %}
{% block h1 'Жалюзи на заказ' %}

{% block body %}
    <div class="container">
        <div class="row zakaz">
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12 content  content-position-2">
                <div class="row">
                    <div class="col-md-12 content">
                        <h2>{{ page.name }}</h2>
                        <p><b><img alt="" class="image-alignleft" src="/img/zakaz/metr.jpg" width="200" height="200"></b></p>

                        <p>Бесплатно&nbsp; вызовите&nbsp; нашего консультанта. Для этого позвоните нам по телефону&nbsp; +7 (495) 984-38-48 с 9:00 до 20:00, или в любое время оставьте заявку на замер на сайте.</p>

                        <p>Наш консультант уточнит&nbsp; время для замера, приедет к вам на дом или в офис,&nbsp; предоставит каталоги с образцами материалов и&nbsp; поможет вам выбрать наиболее подходящий вид жалюзи, материал изготовления, цвет и фактуру. Также специалист профессионально произведет замеры и сделает точный расчет стоимости заказа. После замера вы получаете счет-заказ с подробным описанием размеров и стоимостью&nbsp; заказа.</p>

                        <p>После получения предоплаты мы выполним ваш заказ на жалюзи в течение 3-5 рабочих дней.*</p>

                        <p>Вы также можете оформить заказ у нас в офисе. Для этого вам необходимо знать размеры изделий, которые вы хотите заказать. Наши менеджеры помогут&nbsp; выбрать наиболее подходящий вид&nbsp; жалюзи, маркиз и другой продукции; подобрать материал изготовления, цвет и фактуру.&nbsp; В нашем шоу-руме представлены&nbsp; образцы&nbsp; различных видов и типов продукции.</p>

                        <h2><b>Способы оплаты заказа:</b></h2>

                        <p>При наличном расчёте вы можете оплатить консультанту залог в 70% от общей стоимости, и по заказу будет начато производство жалюзи. Остальная оплата производится после монтажа или доставки.</p>

                        <p>При безналичной оплате вы можете прислать нам ваши банковские реквизиты. В этот же день вы получите счет на оплату и другие документы.&nbsp;По факту монтажа заказчик подписывает (ТОРГ-12) товарные накладные.</p>

                        <p>&nbsp;</p>

                        <p>За день до назначенной даты монтажа с вами свяжется по телефону ваш персональный менеджер, чтобы согласовать наиболее удобное вам время установки. Обязательно обговаривается факт присутствия на объекте лица, которое сможет оценить качество проведенных работ и принять товар.</p>

                        <p>*В некоторых случаях, в связи с сезонной загрузкой, сроки изготовления могут&nbsp; увеличиться.</p>

                        <p>&nbsp;</p>



                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar slider-mobile ">

                    <div class="phone-side">
                        <div class="img">
                            <img src="/img/zakaz/side-phone.png" alt="">
                            <span class="minitext">многоканальный</span>
                        </div>
                        <div class="phone"><a href="tel:+74959843848">+7 (495) 984-38-48</a></div>
                        <div class="text-me">Вызов консультанта бесплатный</div>
                    </div>

                    <div class="phone-side">
                        <div class="count">
                            <div class="co">3-5</div>
                            <div>дней</div>
                        </div>
                        <div class="text-me">Срок выполнения заказа</div>
                    </div>

                    <div class="phone-side">
                        <div class="img">
                            <img src="/img/zakaz/side-coin.png" alt="">
                        </div>
                        <div class="text-me">К оплате принимаются банковские карты</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
