$blue: #2aa5cc;
.calc-parametr-color {
  margin-top: 15px;
  padding-left: 20px;

  .colorzag {
    padding-left: 20px;
    cursor: pointer;
    position: relative;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      position: absolute;
      background: url(/img/down-arrow.svg) center no-repeat;
      background-size: cover;

    }
  }

  .bgcolor-wrap {
    &-color {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 12px;
      margin-top: 12px;
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        width: 40px;
        height: 40px;
        border: 1px solid $blue;
        position: absolute;
        left: -5px;
        top: -5px;
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 9;
        }
      }

    }

    .colorActive {
      &:before {
        opacity: 1;
      }
    }
  }
}