.popular-category {
  .category {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0s;
    display: inline-block;
    box-shadow: -4px -4px 10px 2px rgba(0, 0, 0, 0.5);
    height: 100%;

    .title {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      background: rgba(0, 123, 255, 0.8);
      color: #fff;
      font-size: 18px;
    }

    img {
      height: auto;
      max-width: 100%;
      transition: all .2s ease;
    }

    &:hover {
      img {
        transform: scale(1.04);
      }
    }
  }
}

.grid-item {
  padding: 12px;
}

.hidden-category {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.show-more {
  margin: 10px auto;
  @media screen and (min-width: 767px) {
    display: none;
  }
}