.recommended_products {
  .product_wrapper {
    padding: 10px;
  }

  .product {
    max-width: 400px;
    margin: 0 auto 30px;
    border: 1px solid #9e9e9e70;
    border-radius: 5px;
    padding: 0 10px;
    display: block;
    width: auto;

    .product__name {
      height: 68px;
      overflow: hidden;
    }
  }
}
