.seo-block{
	margin-top: 20px;
	color: rgba(54, 54, 54, 0.8);
	.container{
		padding: 20px;
		box-shadow: inset 3px -3px 10px 0px rgba(42,165,204,.4);
		background-color: #fff;
		box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	}
	.seo-left{
		.mbtn{
			border: none;
			outline: none;
			cursor: pointer;
			background: #fd971f;;
			color: #fff;
			padding-left: 10px;
			padding-right: 10px;
			transition: all .3s;
			border-radius: 5px;
			&:hover{
				opacity: .9;
				transition: all .3s;
			}
		}
		.seo-btn{
			max-width: 280px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			height: 40px;
			line-height: 40px;
			margin-top: 10px;
		}

		h3{
			font-size: 24px;
			padding-top: 5px;
		}
		p{
			padding: 0;
			margin-bottom: 10px;
		}

		.seo-text-none{display: none;}
	}
	.seo-right{
		
		img{
			max-width: 100%;
			border-radius: 20px;
		}


	}
}
