RewriteEngine On RewriteBase /

#Order Allow,Deny
#Allow from all
#Deny from 31.173.80.0/21 178.176.64.0/20 213.87.128.0/19 188.170.64.0/19 94.25.168.0/21

RewriteCond %{HTTP_USER_AGENT} ".AhrefsBot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".MJ12bot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".rogerBot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".MegaIndex\.ru/2\.0." [OR]
RewriteCond %{HTTP_USER_AGENT} ".LinkpadBot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".spbot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".Serpstatbot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".exabot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".SemrushBot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".boitho." [OR]
RewriteCond %{HTTP_USER_AGENT} ".AspiegelBot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".psbot." [OR]
RewriteCond %{HTTP_USER_AGENT} ".Amazonbot" [OR]
RewriteCond %{HTTP_USER_AGENT} ".sogou."
RewriteRule ".*" "-" [F,L]

RewriteRule rulonnyie-shtoryi/kollekcziya-euro-vista-novinka-sezona-2014/(.*)$ https://%{HTTP_HOST}/rulonnyie-shtoryi/standartnye-rulonnye-shtory/$1 [R=301,L]
#RewriteRule zhalyuzi/na-plastikovyie-okna/rulonnaya-kassetnaya-sistema-uni1/(.*)$ /rulonnyie-shtoryi/uni/of-rulonnaya-kassetnaya-sistema-uni2/$1 [R=301,L]
RewriteRule rulonnyie-shtoryi/dlya-detskoj/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/pomeshheniya/dlya-detskoj/ [R=301,L]
RewriteRule rulonnyie-shtoryi/na-kuhnyu/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/pomeshheniya/na-kuhnyu/ [R=301,L]
RewriteRule rulonnyie-shtoryi/na-balkonnuyu-dver/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/pomeshheniya/na-balkonnuyu-dver/ [R=301,L]
RewriteRule rulonnyie-shtoryi/na-balkon/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/pomeshheniya/na-balkon/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/myagkie-okna/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/shtory-pvh/ [R=301,L]
RewriteRule katalog/(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteRule shtory-dlya-besedok-i-verand/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/shtory-pvh/ [R=301,L]
RewriteRule zhalyuzi/plastikovye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/plastikovyie/ [R=301,L]
RewriteRule zhalyuzi/tkanevye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/tkanevye/ [R=301,L]
RewriteRule zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/uni/ [R=301,L]
RewriteRule zhalyuzi/vertikalnye/alyuminievye/$ https://%{HTTP_HOST}/zhalyuzi/gorizontalnye/alyuminievye/ [R=301,L]
RewriteRule rulonnyie-shtoryi/den-noch/combo/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/den-noch/ [R=301,L]
RewriteRule rulonnyie-shtoryi/den-noch/zebra/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/den-noch/ [R=301,L]
RewriteRule zhalyuzi/bambukovye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/avtomatika/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/uni/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/rulonnye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule zhalyuzi/materialy/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/sotovye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/iz-solomki/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/nityanye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/stalnye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/zheleznye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/vertikalnye/verevochnye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/ [R=301,L]
RewriteRule rolstavni/rollety/rollety-na-dver/$ https://%{HTTP_HOST}/rolstavni/rollety/ [R=301,L]
RewriteRule rolstavni/rollety/rollety-na-okna/$ https://%{HTTP_HOST}/rolstavni/rollety/ [R=301,L]
RewriteRule rulonnyie-shtoryi/vid/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/material/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/bambukovye/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/blehkaut/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/kassetnye-s-pruzhinnym-mekhanizmom/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/motorizirovannye/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/inspire/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/s-fotopechatyu/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/s-ehlektroprivodom/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/ [R=301,L]
RewriteRule rulonnyie-shtoryi/na-plastikovye-okna/s-napravlyayushchimi/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/na-plastikovye-okna/ [R=301,L]
RewriteRule rulonnyie-shtoryi/na-plastikovye-okna/blehkaut/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/na-plastikovye-okna/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtoryi-1/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtoryi-2/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtoryi-3/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtoryi-4/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtoryi-5/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/myagkie-okna/dlya-verandy-i-besedok/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/prozrachnye/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/ulichnye/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtory-pvh/dlya-besedok-i-verand/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/shtory-pvh/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtory-pvh/morozoustojchivye/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/shtory-pvh/ [R=301,L]
RewriteRule shtory-dlya-besedok-i-verand/shtory-pvh/polimernye/$ https://%{HTTP_HOST}/shtory-dlya-besedok-i-verand/shtory-pvh/ [R=301,L]
RewriteRule zhalyuzi/plisse/textura-silk-topar-plus-4125/$ https://%{HTTP_HOST}/zhalyuzi/plisse/ [R=301,L]
RewriteRule zhalyuzi/plisse/ligne-4805/$ https://%{HTTP_HOST}/zhalyuzi/plisse/ [R=301,L]
RewriteRule rimskies/rimskie-tyulevyie/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie/rimskie-porternyie/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskies/rimskie-podkladochnyie/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/160-na-160/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/180-na-180/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/blackout/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/v-detskuyu/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/den-noch/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/iz-bambuka/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/iz-lna/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/na-zakaz/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/na-plastikovye-okna/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/furnitura/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/s-ehlektroprivodom/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/160-na-160/rimskie-shtoryi-160-na-160/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rimskie-shtory/160-na-160/rimskie-shtoryi-160-na-1/$ https://%{HTTP_HOST}/rimskies/ [R=301,L]
RewriteRule rekomendaczii/zhalyuzi/dlya-doma/$ https://%{HTTP_HOST}/zhalyuzi/dlya-doma/ [R=301,L]
RewriteRule rekomendaczii/zhalyuzi/dlya-dachi/$ https://%{HTTP_HOST}/zhalyuzi/dlya-dachi/ [R=301,L]
RewriteRule rekomendaczii/zhalyuzi/v-ofis/$ https://%{HTTP_HOST}/zhalyuzi/v-ofis/ [R=301,L]
RewriteRule rekomendaczii/zhalyuzi/dlya-shkoly/$ https://%{HTTP_HOST}/zhalyuzi/dlya-shkoly/ [R=301,L]
RewriteRule rekomendaczii/zhalyuzi/na-balkon/$ https://%{HTTP_HOST}/zhalyuzi/na-balkon/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-luche-2-15/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-luche-25-2/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-luche-3-2.5/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-25-2/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-3-2.5/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-3.5-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-4-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-4.5-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-5-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-6-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/gotovye/bokovaya-markiza/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-s-forte-4-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule markizyi/vydvizhnye/markiza-forte-s-5-3/$ https://%{HTTP_HOST}/markizyi/ [R=301,L]
RewriteRule zhalyuzi/gorizontalnye/plastikovye2/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/plastikovyie/ [R=301,L]
RewriteRule zhalyuzi/gorizontalnye/tkanevye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/tkanevye/ [R=301,L]
RewriteRule zhalyuzi/gorizontalnye/gotovye/$ https://%{HTTP_HOST}/zhalyuzi/gorizontalnye/ [R=301,L]
RewriteRule zhalyuzi/vertikalnye/tsveta/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/ [R=301,L]
RewriteRule zhalyuzi/electricheskie-naruzhnye/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/elektricheskie-vnutrennie/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/zhalyuzi-s-fotopechatyu/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/yaponskie/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/shtory-zhalyuzi-na-plastikovye-okna/$ /zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/shtory-zhalyuzi-tkanevye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/tkanevye/ [R=301,L]
RewriteRule zhalyuzi/vertikalnye/ofisnye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/ [R=301,L]
RewriteRule zhalyuzi/gorizontalnye/bambukovye/$ https://%{HTTP_HOST}/zhalyuzi/gorizontalnye/ [R=301,L]
RewriteRule zhalyuzi/po-tsvetam/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/po-czvetam/chernyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/po-czvetam/seryie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/po-czvetam/zelenyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/po-czvetam/korichnevyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/po-czvetam/bezhevyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/derevyannyie-dveri-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/kupit-dveri-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/bumazhnyie/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/kupit-gotovyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/zhalyuzi-s-risunkom/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/vstroennyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/vorota-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/multifakturnyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/rolikovyie-zhalyuzi/$ https://%{HTTP_HOST}/zhalyuzi/ [R=301,L]
RewriteRule zhalyuzi/derevyannyie/$ https://%{HTTP_HOST}/zhalyuzi/gorizontalnye/derevyannye/ [R=301,L]
RewriteRule zhalyuzi/tkanevye/$ https://%{HTTP_HOST}/zhalyuzi/vertikalnye/tkanevye/ [R=301,L]

RewriteRule zhalyuzi/gorizontalnye-kassetnye-zhalyuzi-isolite/568/$ https://%{HTTP_HOST}/zhalyuzi/gorizontalnye-kassetnye-zhalyuzi-isolite/567/ [R=301,L]
RewriteRule zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/kalipso-bezhevyj1/$ https://%{HTTP_HOST}/zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/indra-salatovyj1/ [R=301,L]
RewriteRule zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/klaudia-vajt3/$ https://%{HTTP_HOST}/zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/klaudia-blekaut-vajt3/ [R=301,L]
RewriteRule rulonnaya-kassetnaya-sistema-uni1/klaudia-indigo3/$ https://%{HTTP_HOST}/zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/klaudia-blekaut-indigo3/ [R=301,L]
RewriteRule zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/klaudia-grin3/$ https://%{HTTP_HOST}/zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/klaudia-blekaut-grin3/ [R=301,L]
RewriteRule uni/porto-blekaut-temno-bezhevyj2/$ https://%{HTTP_HOST}/zhalyuzi/rulonnaya-kassetnaya-sistema-uni1/porto-blekaut-temno-bezhevyj1/ [R=301,L]
RewriteRule rulonnyie-shtoryi/den-noch-uni-2/rulonnyie-shtoryi-den-noch-toskana-33/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/den-noch-uni-2/rulonnyie-shtoryi-den-noch-toskana-34/ [R=301,L]
RewriteRule rulonnyie-shtoryi/den-noch/6043/$ https://%{HTTP_HOST}/rulonnyie-shtoryi/den-noch/6042/ [R=301,L]
RewriteRule zhalyuzi/zhalyuzi-s-elektroprivodom/$ https://%{HTTP_HOST}/zhalyuzi/pomeshheniya/zhalyuzi-s-elektroprivodom/ [R=301,L]
RewriteRule kakie-zhalyuzi-vyibrat/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule karnizyi-dlya-shtor/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule kupit-zhalyuzi-na-okna-v-internet-magazine/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule metallicheskie/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule moskitnye-setki/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule obratnaja-sviaz/skidki/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule raznoe/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule termopechat/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule texnicheskie/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule stoimost-zhalyuzi-na-plastikovyie-okna/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule somfy/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule rekomendaczii/ https://%{HTTP_HOST}/ [R=301,L]
RewriteRule zhalyuzi/na-plastikovyie-okna/(.*)$ https://%{HTTP_HOST}/zhalyuzi/$1 [R=301,L]
RewriteRule zhalyuzi/vertikalnye/tkanevye/(.*)$ https://%{HTTP_HOST}/vertikalnye-zhalyuzi-na-okna/tkanevye-zhalyuzi/$1 [R=301,L]
RewriteRule zhalyuzi/vertikalnye/plastikovyie/(.*)$ https://%{HTTP_HOST}/vertikalnye-zhalyuzi-na-okna/plastikovye-zhalyuzi/$1 [R=301,L]
RewriteRule zhalyuzi/vertikalnye/(.*)$ https://%{HTTP_HOST}/vertikalnye-zhalyuzi-na-okna/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php