RewriteEngine On RewriteBase /

RewriteRule rulonnyie-shtoryi/kollekcziya-euro-vista-novinka-sezona-2014/(.*)$ /rulonnyie-shtoryi/standartnye-rulonnye-shtory/$1 [R=301,L]
#RewriteRule zhalyuzi/na-plastikovyie-okna/rulonnaya-kassetnaya-sistema-uni1/(.*)$ /rulonnyie-shtoryi/uni/of-rulonnaya-kassetnaya-sistema-uni2/$1 [R=301,L]
RewriteRule zhalyuzi/na-plastikovyie-okna/(.*)$ /zhalyuzi/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php