@import "~bootstrap";
@import "~slick-carousel/slick/slick.scss";
@import "libs/ionicons";
@import "custom_slick";

ul{
  li{
    margin-left: 40px;
    position: relative;
    line-height: 1.2;
    margin-bottom: 10px;
    &:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: url(/img/seo_block/check1.svg) center no-repeat;
      background-size: cover;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.not-active:before {
      display: none;
    }
  }
}

