@media (min-width: 1600px) {
  .container2 {
    max-width: 1500px;
  }
}
@media (min-width: 992px) {
  .vip-menu-wrap:hover .vip-menu {
    display: block;
  }
}
@media (max-width: 1199px) {
  .header-n1-phone1 {
    display: none;
  }
  .header-n2 .vip-menu1 .container .menu-card a .zag {
    font-size: 13px;
  }
  .header-n2 .vip-menu1 .container .menu-card a .vidi-zag {
    font-size: 13px;
  }
  .header-n2 .vip-menu1 .container .menu-card a .vidi ul {
    padding-left: 30px;
  }
  .header-n2 .vip-menu1 .container .menu-card a .vidi li {
    font-size: 13px;
  }
  .header-n2 .vip-menu1 .container .menu-card a p b {
    font-size: 13px;
    line-height: 1.1;
    margin-bottom: -17px;
    display: block;
  }
  .header-n2 a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .block1 .b1fonwrap .b1fon {
    min-height: 610px;
  }
  .block1-wrap {
    min-height: 590px;
  }
  .block1-wrap h1 {
    font-size: 42px;
  }
  .block1-wrap .utp-wrap .utp-block {
    font-size: 24px;
  }
  .footer-form .footer-zag {
    text-transform: none;
  }
  .block8 .cvb-head a {
    font-size: 28px;
  }
  .block3 .calc-parametr-minimages {
    padding-left: 30px;
    padding-right: 30px;
  }
  .block3 .calc-parametr-minimages .minimages-wrap {
    text-align: center;
  }
  .block3 .calc-vivod-opis-text .bigzag {
    margin-left: 10px;
  }
  .block3 .calc-vivod-opis-text div {
    margin-left: 10px;
  }
  .block3 .calc-vivod-opis-text i {
    font-size: 13px;
    margin-left: 10px;
  }
  .block3 .calc-vivod-opis-cena a {
    font-size: 13px;
  }
  .block3 .calc-vivod-opis-cena .price {
    font-size: 16px;
  }
  .block3 .calc-vivod-opis-cena .price b {
    font-size: 28px;
  }
  .block3 .calc-vivod .mbtn {
    margin-bottom: 10px;
    width: 70%;
  }
  .block3 .calc-vivod .mbtn2 {
    font-size: 13.5px;
  }
}
@media (max-width: 991px) {
  .header-n1 .headermbtn {
    text-align: right;
    display: block;
  }
  .header-n1-menu {
    display: none;
  }
  .header-n1-phone-phone {
    font-size: 22px;
  }
  .header-n1-phone-mail {
    font-size: 18px;
  }
  .header-n2 {
    background: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    display: none;
  }
  .header-n2 .menu-none {
    display: block;
  }
  .header-n2 .menu-wrap {
    display: block;
  }
  .header-n2 .menu-wrap a {
    color: #000;
    padding-bottom: 7px;
    padding-top: 7px;
    text-transform: uppercase;
  }
  .block1 .b1fonwrap .b1fon {
    min-height: 787px;
  }
  .block1-wrap {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .block1-wrap h1 {
    font-size: 42px;
    margin-bottom: 40px;
  }
  .block1-wrap .utp-wrap {
    margin: auto;
    width: auto;
  }
  .block1-wrap .utp-wrap .utp-block {
    font-size: 24px;
  }
  .block1-wrap .form-wrap {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
  }
  .block2 .catalog-body .catalog-btn-wrap {
    width: 100%;
  }
  .block2 .catalog-body-slider {
    margin-top: 30px;
  }
  .block3 .calc-parametr-categori {
    font-size: 14px;
  }
  .block3 .calc-parametr-razmer input {
    max-width: 150px;
  }
  .block4 .container {
    max-width: 760px;
  }
  .bigslider-for {
    left: 5%;
    width: 90%;
  }
  .bigslider-close {
    font-size: 75px;
    padding-right: 5%;
    padding-top: 10%;
  }
  .footer-form {
    display: none;
  }
  .block8 .cvb {
    width: 50%;
    margin-top: 20px;
  }
  .block8 .cvb-head a {
    font-size: 32px;
  }
  .block8 .cvb-body img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .bigtitle {
    font-size: 12px;
  }
  .block1 .b1fonwrap .b1fon {
    min-height: 750px;
  }
  .block1-wrap h1 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .block1-wrap .utp-wrap {
    margin: auto;
    width: auto;
  }
  .block1-wrap .utp-wrap .utp-block {
    font-size: 24px;
  }
  .block1-wrap .form-wrap {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
  }
  .block1-wrap .bigbtn {
    max-width: 300px;
    font-size: 20px;
  }
  .block2 .catalog-header-button {
    font-size: 16px;
    height: 75px;
    line-height: 75px;
  }
  .block3 .calc-parametr-categori {
    font-size: 14px;
  }
  .block3 .calc-parametr-color {
    display: none;
  }
  .block3 .calc-vivod-imgwrap img {
    width: 300px;
  }
  .block3 .calc-vivod-opis-text div {
    margin-left: 0;
  }
  .block3 .calc-vivod .mbtn {
    width: 48%;
  }
  .block3 .calc-vivod .mbtn2 {
    font-size: 16px;
  }
  .block4 .container {
    max-width: 540px;
  }
  .block8 .cvb-head a {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .header-n1-logo img {
    width: 180px;
    max-width: 100%;
  }
  .header-n1-phone {
    display: none;
  }
  .header-n1-modphone {
    display: flex;
    justify-content: space-evenly;
  }
  .header-n1 .headerpoisk {
    text-align: right;
    display: block;
  }
  .bigtitle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bigtitle span {
    padding: 0;
  }
  .bigtitle span:before {
    display: none;
  }
  .block1 {
    padding-top: 0;
  }
  .block1 .b1fonwrap {
    display: none;
  }
  .block1-wrap {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .block1-wrap h1 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .block1-wrap .utp-wrap {
    margin: auto;
    width: auto;
  }
  .block1-wrap .utp-wrap .utp-block {
    line-height: 1.1;
    font-size: 17px;
    padding-left: 35px;
  }
  .block1-wrap .utp-wrap .utp-block span:before {
    width: 30px;
    height: 30px;
    left: -40px;
  }
  .block1-wrap .form-wrap {
    max-width: 500px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .block1-wrap .form-wrap form {
    width: 100%;
  }
  .block1-wrap .form-wrap form input {
    font-size: 16px;
  }
  .block1-wrap .form-wrap form .form-btn {
    font-size: 14px;
    padding: 0 !important;
    font-weight: bold;
  }
  .block1-wrap .bigbtn {
    max-width: 280px;
    font-size: 18px;
  }
  .block1-wrap .bigbtn span:before {
    width: 19px;
    height: 18px;
    right: 3px;
  }
  .block2 .container {
    padding: 15px;
  }
  .block2 .catalog-body .zagcena {
    font-size: 28px;
  }
  .block2 .catalog-body-opis {
    font-size: 14px;
  }
  .block2 .catalog-body-opis b {
    font-size: 30px;
  }
  .block2 .catalog-body .new-cenawrap .bigcena {
    font-size: 14px;
  }
  .block2 .catalog-body .new-cenawrap .bigcena b {
    font-size: 42px;
  }
  .block2 .catalog-body .new-cenawrap .cena {
    font-size: 14px;
  }
  .block2 .catalog-body .new-cenawrap .cena b {
    padding-top: 5px;
    font-size: 38px;
  }
  .block2 .catalog-body .catalog-btn-wrap .catalogbtn:hover:before {
    display: none;
    left: 0;
  }
  .block2 .catalog-body .catalog-btn-wrap .catalogbtn:hover:after {
    display: none;
    right: 0;
  }
  .block3 .calc-vivod-opis-text i {
    margin-bottom: 0;
  }
  .block3 .calc-vivod-opis-cena {
    margin-bottom: 15px;
  }
  .block3 .calc-vivod-opis-cena a {
    margin-right: 10px;
  }
  .block4 .zag1 {
    text-align: center;
  }
  .block4 .preim {
    width: 290px;
    margin-top: 70px;
  }
  .block4 .preim-text {
    font-size: 16px;
  }
  .footer-logo {
    max-width: 300px;
    text-align: center;
    margin: auto;
  }
  .footer-logo .mbtn {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
  }
  .footer-nav {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  .footer-nav a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .block8 .cvb {
    width: 100%;
    margin-top: 0px;
  }
  .block8 .cvb-head {
    text-align: center;
  }
  .block8 .cvb-head a {
    font-size: 32px;
    line-height: 1.3;
  }
}
@media (max-width: 500px) {
  .header-n1-logo {
    flex: 0 0 38%;
    max-width: 38%;
  }
  .headerpoisk{
    flex: 0 0 35%;
    max-width: 35%;
  }
  .block1-wrap {
    margin-top: 53px;
    background-color: #FFFFFF;
    min-height: 250px;
  }
  .block3 .calc-parametr-razmer input {
    width: 120px;
  }
  .block3 .calc-parametr-categori span {
    margin-bottom: 5px;
  }
  .block3 .calc-vivod .mbtn {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
  }
}