@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');
@import "variables";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #fafafa;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}


body{
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul {
  margin: 0;
  padding: 0;

}
h2{
  margin: 1em 0;
}
p{
  color: $text-grey;
}
.mbtn{
  border: none;
  outline: none;
  cursor: pointer;
  background: $blue;
  color: $white;
  padding: 10px;
  transition: all 1s;
  border-radius: 5px;
  min-height: 40px;
  font-weight: bold;

  &:hover {
    opacity: 9;
    transition: all 3s;
  }

  &_orange {
    background: $orange;
  }
}

.three-button-wrapper {
  .callback_buttons {
    flex-direction: row;
    width: 690px;
    transform: translateX(-180px);
    justify-content: space-between;
    @media (max-width: 1200px) {
      transform: translateX(-270px);
    }
    @media (max-width: 991px) {
      transform: translateX(-72px);
      width: 673px;
    }
    @media (max-width: 768px) {
      transform: translateX(0);
      width: 100%;
      flex-direction: column;
    }
  }

  .mbtn {
    min-width: 220px;
    text-align: center;
    display: block;
    margin-bottom: 1em;
    height: 50px;
  }
}

.block1{
  color: $white;
  position: relative;
  overflow: hidden;
  @media (max-width: 576px) {
    background: none;
    color: $black;
  }

  .b1fonwrap {
    width: 100%;
    position: absolute;

    .slick-arrow {
      opacity: 0;
    }

    left: 0;
    top: 0;

    .b1fon {
      width: 100%;
      min-height: 674px;


    }
    .b1fon1{
      background-size: cover;
    }
    .b1fon2{
      background-size: cover;
    }
    .b1fon3{
      background-size: cover;
    }
  }
  &-wrap{
    z-index: 2;
    position: relative;
    padding-top: 120px;
    margin-top: 73px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .3);
    min-height: 574px;

    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      line-height: 1.2;
      display: inline-block;
    }
    .utp-wrap{
      .utp-block{
        font-size: 28px;
        padding-left: 50px;
        margin-bottom: 20px;
        span{
          position: relative;
          &:before{
            width: 40px;
            height: 40px;
            content: '';
            background: url(/img/check1.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            left: -55px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
          }
        }
      }
    }
    .form-wrap{
      background-color: rgba(0,0,0, .3);
      border-radius: 15px;
      form{
        width: 90%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
        .zag2{
          display: block;
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        input{
          width: 100%;
          height: 50px;
          margin-bottom: 15px;
          font-size: 16px;
          padding-left: 15px;
          padding-right: 15px;
          border-radius: 15px;
          border: none;
        }
        .form-btn{
          background: $orang;
          text-transform: uppercase;
          color: $white;
          border: none;
          cursor: pointer;
          margin-top: 10px;
          &:hover{
            opacity: 9;
          }
        }
      }
    }
    .bigbtn{

      display: block;
      text-align: center;
      background: $blue;
      text-align: center;
      width: 500px;
      margin: auto;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
      color: $white;
      margin-top: 150px;
      &:hover{
        text-decoration: none;
        opacity: 9;
      }
      span{
        padding-right: 30px;
        position: relative;
        &:before{
          content: '';
          width: 22px;
          height: 22px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: url(/img/down-button2.svg) center no-repeat;
          background-size: cover;

        }
      }
    }
  }

}
.zag {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  @media (max-width: 576px) {
    font-size: 28px;
  }
}
.block2{
  margin-top: 20px;
  .container{
    padding: 20px;
    box-shadow: inset 3px -3px 10px 0px rgba(42,165,204,.4);
    background-color: #fff;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);


  }
  .catalog-header{
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }
  .catalog-header-button{
    text-align: center;
    font-size: 18px;
    height: 90px;
    line-height: 90px;
    cursor: pointer;

    &:hover{
      background-color: #f0f0f0;
    }
  }
  .catalog-header-active{
    border-bottom: 3px solid $blue;
    background-color: #f0f0f0;
  }
  .catalog-body3{display: none;}
  .catalog-body4{display: none;}
  .catalog-body2{display: none;}
  .catalog-body{
    padding-top: 20px;
    .zagcena{
      font-size: 39px;
      color: $text-grey;
      margin-bottom: 15px;

    }
    .catalog-vidi{
      padding-top: 10px;
      a{
        color: $blue;
        text-decoration: underline;
        font-size: 18px;
        font-weight: bold;
      }
    }
    &-opis{
      margin-top: 20px;
      color: $text-grey;
      div{
        margin-bottom: 15px;
        margin-top: 15px;
      }
      b{
        display: block;
        font-size: 38px;
        line-height: 1;
        font-weight: 400;
      }
    }
    &-price{
      color: $text-grey;
      .starcena{
        font-size: 28px;
        display: inline-block;
        position: relative;
        margin-left: 5px;
        &:before{
          content: '';
          position: absolute;
          width: 110%;
          height: 2px;
          background-color: $text-grey;
          top: 50%;
          left: -5%;
          transform: translateY(-50%);

        }
        span{
          display: inline-block;
          position: absolute;
          top: 50%;
          right: -70px;
          transform: translateY(-50%);
          margin-left: 12px;
          padding: 0 7px;
          background: $orang;
          font: 300 15px/25px 'Roboto',serif;
          color: #fff;
          box-shadow: 0 0 50px rgba(204,80,108,.5);
        }

      }
      .new-cenawrap{
        margin-top: 10px;
        .bigcena{
          b{
            display: block;
            font-size: 49px;
            font-weight: 400;
            line-height: 1;
          }
        }
        .cena{
          b{
            padding-top: 10px;
            display: block;
            font-size: 40px;
            font-weight: 400;
            line-height: 1;
          }
        }
      }

    }
    .catalog-btn-wrap{
      width: 90%;
      text-align: center;

      margin-top: 30px;
      .catalogbtn{
        display: block;
        height: 65px;
        line-height: 65px;
        background-color: $orang;
        text-align: center;
        color: $white;
        font-size: 20px;
        position: relative;
        transition: all 5s;
        &:before{
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          left: -7.5px;
          top: 25px;
          background-color: #fff;
          transform: rotate(45deg);
        }
        &:after{
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          right: -7.5px;
          top: 25px;
          background-color: #fff;
          transform: rotate(45deg);
        }
        &:hover{
          transition: all 5s;
          &:after{
            right: -14px;
          }
          &:before{
            left: -14px;
          }
        }
      }
      .catalogbtn2{
        text-decoration: underline;
        color: $orang;
        font-size: 20px;
        text-align: center;
        padding-top: 15px;
        display: inline-block;
      }
    }
    &-slider{
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        max-width: 100%;
      }

      .slick-arrow{opacity: .0}
      &:hover{
        .slick-arrow{opacity: 1}
      }


    }
  }
}
.block3{
  padding-top: 80px;
  background-color: #fafafa;
  .container{
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);

    padding: 15px;
    //box-shadow: inset 0px 0px 10px 0px rgba(107,149,255,0.5);


  }
  .calc-parametr{
    .minzag{
      font-size: 15px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &-typewrap{

      &-type{
        background-color: #fff;
        cursor: pointer;
        position: relative;
        min-width: 200px;
        border: 1px solid rgba(0,0,0, .1);
        margin-left: 15px;
        margin-top: 5px;
        .type-text{
          padding: 10px 40px 10px 20px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background: $orang;
            bottom: 0;
            left: 0;
            transition: all .5s

          }
          &:hover{
            background-color: #f0f0f0;
            &:before{
              width: 100%;
              transition: all 5s;
            }
          }
        }
        .type-head{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            top: 15px;
            right: 10px;
            position: absolute;
            background: url(/img/down-arrow.svg) center no-repeat;
            background-size: cover;
          }
        }
        .type-body{
          position: absolute;
          top: 44px;
          left: 0;
          background: #fff;
          z-index: 4;
          width: 200px;
        }
      }
    }
    &-color{
      margin-top: 15px;
      .colorzag{
        padding-left: 20px;
        cursor: pointer;
        position: relative;
        &:before{
          content: '';
          width: 15px;
          height: 15px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          position: absolute;
          background: url(/img/down-arrow.svg) center no-repeat;
          background-size: cover;

        }
      }
      .bgcolor-wrap{
        &-color{
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: red;
          margin-right: 12px;
          margin-top: 12px;
          position: relative;
          cursor: pointer;
          &:before{
            content: '';
            width: 40px;
            height: 40px;
            border: 1px solid $blue;
            position: absolute;
            left: -5px;
            top: -5px;
            opacity: 0;
          }
          &:hover{
            &:before{
              opacity: 9;
            }
          }

        }
        .colorActive{
          &:before{
            opacity: 1;
          }
        }
      }
    }
    &-categori{
      padding: 0;
      margin: 0;
      padding-top: 15px;
      span{
        display: inline-block;
        margin: 0;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #cccccc;
        font-weight: bold;
        cursor: pointer;
        transition: all 3s;
        margin-right: 5px;
        &:hover{
          background-color: #ccc;
          transition: all 3s;
        }
      }
      .activ{
        background-color: #cccccc;
      }
    }
    &-minimages{
      margin-top: 10px;
      @media screen and (max-width: 768px) {
        max-height: 200px;
        overflow: auto;
      }

      .minimages-wrap {
        width: 80px;
        display: inline-block;

        img {
          max-width: 100%;
        }

        .minimages {
          width: 70px;
          border: 1px solid #ccc;
          display: inline-block;
          margin-top: 10px;
          cursor: pointer;
          &:hover{
            filter: contrast(70%)
          }
        }
      }
    }
  }

  .mbtn{
    width: 48%;
    height: 45px;
    margin-right: 1%;
    font-weight: bold;
  }
  .mbtn2{
    background-color: $orang;
  }
}

.block4{
  background: center fixed;
  background-size: cover;

  .container{
    max-width: 1500px;
  }
  position: relative;
  color: $white;
  margin-top: 70px;
  .preim-wrap{
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
    background-color: rgba(0,0,0, .4);
    z-index: 1;

  }
  .zag1{
    text-align: center;
    z-index: 1;
    position: relative;
    padding-top: 0;
    margin-top: 0;
  }
  .preim{
    z-index: 1;
    width: 290px;
    height: 180px;
    padding: 50px 12px 30px 25px;
    margin: auto;
    margin-top: 90px;
    border: 1px solid $white;
    position: relative;
    &-zag{
      font-size: 22px;
      font-weight: 700;
    }
    &-text{
      font-size: 16px;
    }
    &-img{
      position: absolute;
      left: 20px;
      top: -55px;
      max-width: 150px;
      img{ max-width: 100%; }
    }
  }
}
.block5{
  padding-top: 50px;
  .zag{
    margin-bottom: 30px;
  }
  .client-wraper{
    padding-left: 30px;
    padding-right: 30px;
  }
  .client-block{
    text-align: center;
    /*filter: grayscale(100%);
    transition: all 3s;*/
    cursor: pointer;
    &:hover{
      transition: all 3s;
      filter: grayscale(0%);
    }
    img{max-width: 100%;  margin: auto;}
  }
  .slick-prev {
    left: -25px;
  }
  .slick-next{
    right: -25px;
  }

}
.block6{
  margin-top: 60px;
  .zag{
    margin-bottom: 20px;
  }
  .primeri-wrap{
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
  }
  .preim-block{
    padding: 10px;
    img{
      max-width: 100%;
    }
  }
}
.bigslider-wrap{
  background-color: rgba(0,0,0, .9);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  min-height: 100vh;

}

.bigslider-for{
  width: 60%;
  margin: auto;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);


  *{outline: none;}
  .slick-prev{
    height: 100%;
    background-size: 150%;

  }
  .slick-next{
    height: 100%;
    background-size: 150%;
  }
  img{
    width: 85%;

    display: block;
    margin: auto;
  }
}
.bigslider-close{
  cursor: pointer;
  opacity: 5;
  color: #fff;
  font-size: 50px;
  padding-right: 20%;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  &:hover{
    opacity: 7;
  }
}
.block7{
  margin-top: 80px;
  text-align: center;
  color: $black;
  .zag{
    text-align: left;
  }
  img{
    max-width: 100%;
  }
  .rabotniki-card{
    margin-top: 20px;
  }
  .img{
    position: relative;

  }
  .rabotniki-card{
    b{
      display: block;
      font-size: 20px;
      margin-top: 12px;
      margin-bottom: 5px;
    }
    span{
      display: block;
      font-size: 16px;
    }
    .mbtn2{
      display: block;
      color: $blue;
      margin: auto;
      border: 1px solid $blue;
      border-radius: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      transition: all 3s;
      margin-top: 15px;
      max-width: 320px;
      &:hover{
        background: $blue;
        color: #fff;
        transition: all 3s;
      }

    }
  }
}

.block8{
  padding-top: 60px;
  .cvb{
    width: 25%;

    z-index: 1;
    &-head{
      //box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.5);
      background-color: $blue;
      padding: 30px 35px 30px 35px;
      min-height: 152px;
      a{
        font-size: 30px;
        color: $white;
        display: inline-block;
        line-height: 1;
      }
    }
    &-body{

      img{
        max-width: 100%;
      }
      a{
        position: relative;
        display: block;
        &:before{
          content: 'Подробнее';
          color: #fff;
          display: inline-block;
          text-align: center;
          font-size: 20px;
          position: absolute;
          background-color: $orang;
          padding: 10px 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all 3s;
        }
        &:hover{
          &:before{
            opacity: 1;
            transition: all 3s;
          }
        }
      }

    }
    &-footer{
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: inset 1px 0px 10px 1px rgba(50, 50, 50, 0.15);
      a{
        display: block;
        color: $orang;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
        span{
          position: relative;
          &:before{
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: $orang;
          }
        }
        &:hover{
          span{
            &:before{
              transition: all 5s;
              transform: rotateY(90deg);
            }
          }
        }


      }
    }

  }
  .cvb2{
    .cvb-head{
      background-color: $orang;
    }
  }
  .cvb4{
    .cvb-head{
      background-color: $orang;
    }
  }
}
.works{
  margin: 2em auto;
  .zag{
    text-align: center;
  }
}

.zakaz{
  margin-top: 2em;
  .sidebar {
    padding-top: 35px;
  }
  .phone-side {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eff4f7;
    .img img {
      margin: 0 auto 15px;
    }
  }
  .phone-side .phone, .phone-side .phone a {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
  }
  .phone-side .text-me {
    font-size: 18px;
    line-height: 26px;
  }
  .phone-side .count {
    margin-bottom: 15px;
    color: #f1a71b;
    font-size: 24px;
    font-weight: 300;
  }
  .phone-side .count .co {
    margin-bottom: 15px;
    font-size: 72px;
    line-height: 50px;
  }
  .phone-side .img .minitext {
    font-size: 13px;
    line-height: 28px;
    display: block;
    color: #9ca2a5;
  }
}

.video-tpl iframe {
  width: 100% !important;
  height: 225px !important;
}

.pagination {
  .page-item {
    &::before {
      display: none;
    }
  }
}

.multi_button ul, .multi_button li {
  margin-left: auto !important;
  margin-bottom: auto !important;
}