<div class="row work_example_with_filters_container">
    <div class="col-lg-2 col-12">{{ include('modules/work_example/work_example_filters.html.twig') }}</div>
    <div class="col-lg-10 col-12">{{ include('widget/work_example.html.twig') }}</div>
</div>
