{% set allFilters = [
    {name: 'На пластиковые окна'},
    {
        name: 'Вертикальные',
        children: [
        {name: 'Тканевые'},
        {name: 'Пластиковые'},
    ]
    },
    {
        name: 'Горизонтальные',
        children: [
        {name: 'Алюминиевые'},
        {name: 'Деревянные'},
        {name: 'Isolite'},
    ]
    },
    {name: 'Рулонные шторы', alias: 'Рулонные'},
    {name: 'Плиссе'},
] %}

<div class="work_example_filters_container">
    <div class="work_example_filters_toggler">
        <img src="/img/filter.png" alt="*"> Фильтры
    </div>
    <div class="work_example_filters">
        {% for filter in allFilters %}
            {% if filter.name in possibleFilters or filter.alias|default('') in possibleFilters %}
                <div class="work_example_filters__row">
                    <a
                            href="#"
                            class="work_example_filters__item" {% if filter.alias is defined -%}
                        data-value="{{ filter.alias }}"
                    {%- endif -%}
                    >{{ filter.name }}</a>
                    {% if filter.children is defined %}
                        <ul>
                            {% for childFilter in filter.children %}
                                {% if childFilter.name in possibleFilters %}
                                    <li><a href="#" class="work_example_filters__item">{{ childFilter.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

