
.summary {
  @media screen and (max-width: 992px) {
    display: none;
  }

  &__title {
    color: orange;
    font-size: 1.2em;
  }

  &__accent {
    color: #0c98cf;
    font-weight: bold;
    font-size: 1.4em;

    &-red {
      color: #cf0c0c;
      font-size: 1.2em;
    }
  }

  &__item {
    margin: 10px 0 0 20px;

    &::before {
      content: none;
    }
  }
}