<div class="offer">
    <p>
        &#9989;
        Гарантия 2 года
    </p>
    <p>
        &#9989;
        Бесплатный выезд и замер
    </p>
    <p>
        &#9989;
        Изготовление и установка 1-3 дня
    </p>
    <p>
        &#9989;
        Замер и монтаж круглосуточно, 24/7
    </p>
</div>