<div class="offer">
    <p>
        &#9989;
        Гарантия 2 года
    </p>
    <p>
        &#9989;
        Бесплатный выезд и замер
    </p>
    <p>
        &#9989;
        Изготовление и установка 2-5 рабочих дня
    </p>
    <p>
        &#9989;
        При заказе онлайн - доставка в пределах МКАД в подарок!
    </p>
</div>