.domain-map {

  &__title {
    font-size: 2rem;
    line-height: 1.8rem;
    margin: 0 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.3rem;
    margin: 0 10px 10px;

    .list__item {
      min-width: 18%;
      margin: 8px;
      padding: 10px 14px;
      border: 1px solid #E6E6E6;
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: #fb5e00;
      }
    }
  }

  .city_current {
    font-weight: bold;
  }
}

