<div class="utp-block scroll-item"><span>Гарантия на рулонные шторы 2 года</span></div>
<div class="utp-block scroll-item"><span>Бесплатный выезд и замер (c 9:00 до 18:00)</span></div>
<div class="utp-block scroll-item"><span>Изготовление и установка 2-5 рабочих дня</span></div>
<div class="utp-block scroll-item"><span>При заказе онлайн - доставка в пределах МКАД в подарок!</span></div>