<!--третий блок (калькулятор) начало-->
<div class="block3 calcblock">
    <div class="container">
        <div class="zag text-center">Калькулятор</div>
        <div id="app-calc">
            <main-page-calc
                    selected_category="1"
                    :excluded_materials="{{ excluded_materials|default({})|json_encode }}"
            ></main-page-calc>
        </div>
    </div>
</div>
<!--третий блок (калькулятор) конец-->