<!--третий блок (калькулятор) начало-->
<div class="block3 calcblock">
    <div class="container">
        <div class="zag">Выбор штор</div>
        <div id="app">
            <main-page-calc></calc>
        </div>

    </div>
</div>
<!--третий блок (калькулятор) конец-->