<!--третий блок (калькулятор) начало-->
<div class="block3 calcblock">
    <div class="container">
        <div class="zag">Калькулятор {{ rulonnyieOnly|default(false) ? '' : 'жалюзи и ' }} рулонных штор</div>
        <div id="app-calc">
            <main-page-calc :rulonnyie_only="{{ rulonnyieOnly|default(false) ? 'true': 'false' }}"></main-page-calc>
        </div>
    </div>
</div>
<!--третий блок (калькулятор) конец-->