<div class="callback_buttons">
    <img src="/img/buttons/calculate.png" alt="Рассчитать" class="js-modal-open"
         data-title="Рассчитать">
    <img src="/img/buttons/consultation.png" alt="Консультация" class="js-modal-open"
         data-title="Консультация">
</div>