<!--третий блок (калькулятор) начало-->
<div class="block3 calcblock">
    <div class="container">
        <div class="zag">Выбор штор</div>
        <div class="calc-wrap">
            <div class="row">
                <div class="col-lg-7 col-md-6 calc-parametr">
                    <form action="#">
                        <div class="calc-parametr-typewrap">
                            <div class="minzag">Выберите тип и вид жалюзи</div>
                            <div class="row">
                                <div class="calc-parametr-typewrap-type">
                                    <div class="type-head type-head1"><div class="type-text">Вертикальные</div></div>
                                    <div class="type-body type-body1">
                                        <div class="type-text">Горизонтальные</div>
                                        <div class="type-text">Рулонные</div>
                                    </div>
                                </div>
                                <div class="calc-parametr-typewrap-type">
                                    <div class="type-head type-head2"><div class="type-text">Тканевые</div></div>
                                    <div class="type-body type-body2">
                                        <div class="type-text">Пластиковые</div>
                                        <div class="type-text">Алюминиевые</div>
                                        <div class="type-text">Веревочные</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="calc-parametr-color">
                            <div class="minzag colorzag">Цвет:</div>
                            <div class="bgcolor-wrap">
                                <div class="bgcolor-wrap-color bgcolor1"> </div>
                                <div class="bgcolor-wrap-color bgcolor2 color-activ"> </div>
                                <div class="bgcolor-wrap-color bgcolor3"> </div>
                                <div class="bgcolor-wrap-color bgcolor4"> </div>
                                <div class="bgcolor-wrap-color bgcolor5"> </div>
                                <div class="bgcolor-wrap-color bgcolor6"> </div>
                                <div class="bgcolor-wrap-color bgcolor7"> </div>
                                <div class="bgcolor-wrap-color bgcolor8"> </div>
                                <div class="bgcolor-wrap-color bgcolor9"> </div>
                                <div class="bgcolor-wrap-color bgcolor10"> </div>
                                <div class="bgcolor-wrap-color bgcolor11"> </div>
                                <div class="bgcolor-wrap-color bgcolor12"> </div>
                                <div class="bgcolor-wrap-color bgcolor13"> </div>
                                <div class="bgcolor-wrap-color bgcolor14"> </div>
                                <div class="bgcolor-wrap-color bgcolor15"> </div>
                                <div class="bgcolor-wrap-color bgcolor16"> </div>
                                <div class="bgcolor-wrap-color bgcolor17"> </div>
                                <div class="bgcolor-wrap-color bgcolor18"> </div>
                                <div class="bgcolor-wrap-color bgcolor19"> </div>
                                <div class="bgcolor-wrap-color bgcolor20"> </div>
                                <div class="bgcolor-wrap-color bgcolor21"> </div>
                                <div class="bgcolor-wrap-color bgcolor22"> </div>
                                <div class="bgcolor-wrap-color bgcolor23"> </div>
                                <div class="bgcolor-wrap-color bgcolor24"> </div>
                                <div class="bgcolor-wrap-color bgcolor25"> </div>
                                <div class="bgcolor-wrap-color bgcolor26"> </div>


                            </div>
                        </div>
                        <div class="calc-parametr-categori">
                            <span class="activ">Econom</span>
                            <span>Standart</span>
                            <span>Lux</span>
                        </div>
                        <div class="calc-parametr-minimages">
                            <div class="minimages-wrap">
                                <div class="minimages minimages1"><img src="img/calc-img-min/1.jpg" alt="*"></div>
                                <div class="minimages minimages2"><img src="img/calc-img-min/2.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages3"><img src="img/calc-img-min/3.jpg" alt="*"></div>
                                <div class="minimages minimages4"><img src="img/calc-img-min/4.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages5"><img src="img/calc-img-min/5.jpg" alt="*"></div>
                                <div class="minimages minimages6"><img src="img/calc-img-min/6.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages7"><img src="img/calc-img-min/7.jpg" alt="*"></div>
                                <div class="minimages minimages8"><img src="img/calc-img-min/8.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages9"><img src="img/calc-img-min/9.jpg" alt="*"></div>
                                <div class="minimages minimages10"><img src="img/calc-img-min/10.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages11"><img src="img/calc-img-min/11.jpg" alt="*"></div>
                                <div class="minimages minimages12"><img src="img/calc-img-min/12.jpg" alt="*"></div>
                            </div>
                            <div class="minimages-wrap">
                                <div class="minimages minimages13"><img src="img/calc-img-min/13.jpg" alt="*"></div>
                                <div class="minimages minimages14"><img src="img/calc-img-min/14.jpg" alt="*"></div>
                            </div>
                        </div>
                        <div class="calc-parametr-razmer">
                            <div class="bigzag">Задайте размер:</div>
                            <input type="text" placeholder="Ширина, мм"><input type="text" placeholder="Высота, мм">
                        </div>
                        <div class="calc-parametr-tipu">
                            <div class="bigzag">Выберите тип управления:</div>
                            <label><input type="radio"> Ручное</label>
                            <label><input type="radio"> Электропривод</label>
                            <div>
                                <b>Количество изделий:</b>
                                <select name="#" id="#">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="1">5</option>
                                    <option value="1">6</option>
                                    <option value="1">7</option>
                                    <option value="1">8</option>
                                    <option value="1">9</option>
                                    <option value="1">10</option>
                                </select>
                            </div>
                            <i>Изготовим за 1-3 рабочих дня</i>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-md-6 calc-vivod align-self-center">
                    <div class="calc-vivod-imgwrap">
                        <img src="img/calc-img/1.jpg" alt="*">
                    </div>
                    <div class="calc-vivod-price">
                        <div class="starcena">1250₽ <span>-30%</span></div>

                        <div class="new-cenawrap">
                            <div class="row">
                                <div class="col-6 bigcena"><b>875₽</b><p>При самовывозе</p></div>
                                <div class="col-6 cena"><b>1375₽</b><p>С доставкой</p>	</div>
                            </div>
                        </div>

                    </div>
                    <div class="calc-vivod-opis">
                        <div class="row">
                            <div class="calc-vivod-opis-text col-sm-6">

                                <div><b>Размеры: </b><span>100</span> ММ X <span>100</span>ММ</div>
                                <div><b>Цвет: </b><span>4020</span> <span>(25мм)</span></div>
                            </div>
                            <div class="calc-vivod-opis-text col-sm-6"><div><b>Управление: </b><span>Ручное</span> </div>
                                <div><b>Материал: </b><span>Алюминий</span> </div>
                            </div>

                        </div>
                    </div>
                    <button class="mbtn">Заказать</button>
                    <button class="mbtn mbtn2">Поулчить консультацию</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--третий блок (калькулятор) конец-->