<!--третий блок (калькулятор) начало-->
<div class="block3 calcblock">
    <div class="container">
        <div class="zag">Выбор штор</div>
        <div id="main-page-calc"></div>

    </div>
</div>
<!--третий блок (калькулятор) конец-->