<!--Блок НАШИ КЛИЕНТЫ-->
<div class="block5 client">
    <div class="container container2">
        <div class="zag col-12">Наши клиенты</div>
        <div class="client-wraper">
            <div class="client-wrap">
                {% for i in 1..15 %}
                    <div class="client-block text-center"><img {{ slick_lazy_load('img/b'~i~'.png') }} alt="*"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--конец блока НАШИ КЛИЕНТЫ-->