<!--Блок НАШИ СОТРУДНИКИ-->
{% set employees = [
    {
        name: 'Анатолие Амброси',
        job: 'Руководитель компании',
        img: '/img/empolyees/1.jpeg'
    },
    {
        name: 'Елена Демьянова',
        job: 'Старший менеджер',
        img: '/img/empolyees/2.jpeg'
    },
    {
        name: 'Александр Агеев',
        job: 'Замерщик и установщик',
        img: '/img/empolyees/3.jpeg'
    }
] %}
<div class="block7 blockrabotniki">
    <div class="container container2">
        <div class="zag">Руководство компании «Мастерская жалюзи»</div>
        <div class="row rabotniki-slider">
            {% for employee in employees %}
                <div class="col-md-4 col-sm-6 scroll-item">
                    <div class="rabotniki-card">
                        <div class="img"><img {{ lazy_load(employee.img) }} alt="*"></div>
                        <div class="text">
                            <b>{{ employee.name }}</b>
                            <span>{{ employee.job }}</span>
                        </div>
                        <div class="mbtn2 js-modal-open">Получить консультацию</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--конец блока НАШИ СОТРУДНИКИ-->