<!--Блок НАШИ СОТРУДНИКИ-->
<div class="block7 blockrabotniki">
    <div class="container container2">
        <div class="zag">Наши Сотрудники</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img"><img src="img/anatolii.jpg" alt="*"></div>
                    <div class="text">
                        <b>Анатолий</b>
                        <span>Директор компании</span>
                    </div>
                    <div class="mbtn2">Заказать звонок</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img">
                        <img src="img/irina.jpg" alt="*">
                    </div>
                    <div class="text">
                        <b>Ирина</b>
                        <span>Старший менеджер</span>
                    </div>
                    <div class="mbtn2">Заказать звонок</div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                <div class="rabotniki-card">
                    <div class="img">
                        <img src="img/urii.jpg" alt="*">
                    </div>
                    <div class="text">
                        <b>Юрий</b>
                        <span>Старший замерщик</span>
                    </div>
                    <div class="mbtn2">Заказать звонок</div>

                </div>
            </div>


        </div>
    </div>
</div>
<!--конец блока НАШИ СОТРУДНИКИ-->