<!--Блок НАШИ СОТРУДНИКИ-->
<div class="block7 blockrabotniki">
    <div class="container container2">
        <div class="zag">Руководство компании «Мастерская жалюзи»</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img"><img {{ lazy_load('/img/anatolii.jpg') }} alt="*"></div>
                    <div class="text">
                        <b>Анатолие Амброси</b>
                        <span>Директор компании</span>
                    </div>
                    <div class="mbtn2 modal-open">Заказать звонок</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="rabotniki-card">
                    <div class="img">
                        <img {{ lazy_load('/img/angelica.png') }} alt="*">
                    </div>
                    <div class="text">
                        <b>Анжелика Дорофеева</b>
                        <span>Старший менеджер</span>
                    </div>
                    <div class="mbtn2 modal-open">Заказать звонок</div>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                <div class="rabotniki-card">
                    <div class="img">
                        <img {{ lazy_load('/img/urii.jpg') }} alt="*">
                    </div>
                    <div class="text">
                        <b>Александр Мухамеджанов</b>
                        <span>Отдел логистики</span>
                    </div>
                    <div class="mbtn2 modal-open">Заказать звонок</div>

                </div>
            </div>


        </div>
    </div>
</div>
<!--конец блока НАШИ СОТРУДНИКИ-->