<div class="extra-menu-burger extra-menu-burger-js" data-menu-visible="#mobile-menu-container">
    <div class="extra-menu-burger__icon"></div>
    <div class="extra-menu-burger__label">Меню</div>
</div>
