<!--ШАПКА начало-->
<div class="header">
    <div class="header-n1">
        <div class="container ">
            <div class="row">
                <div class="header-n1-logo col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 align-self-center">
                    <a href="/"><img src="/img/logo.webp" alt="*"></a>
                </div>
                <div class="header-n1-modphone col-2 align-self-center">
                    <a href="tel:88007757238">
                        <img src="/img/phone.webp" alt="#">
                    </a>
                </div>

                <div class="header-n1-menu col-xl-6 col-lg-6 align-self-center">
                    <a href="#" class="header-n1-menu-ssil ">Доставка и оплата</a>
                    <a href="#" class="header-n1-menu-ssil2 header-n1-menu-ssil">Услуги</a>
                    <a href="#" class="header-n1-menu-ssil3 header-n1-menu-ssil">Контакты</a>
                </div>
                <div class="col-xl-2 header-n1-phone header-n1-phone1 align-self-center">
                    <small>г. Москва</small>
                    <a href="tel:74959843848" class="header-n1-phone-phone">+7 (495) 984-38-48</a>
                    <div class="social_icons">
                        <div class="social_icons__icon_whatsapp social_icons__icon">
                            <a href="https://wa.me/79104014017" title="Написать на Whatsapp" target="_blank"></a>
                        </div>
                        <div class="social_icons__icon_insta social_icons__icon">
                            <a href="https://www.instagram.com/jaluse_masterskaya_/" title="Наш Instagram" target="_blank"></a>
                        </div>
                        <div class="social_icons__icon_facebook social_icons__icon">
                            <a href="https://www.facebook.com/masterskayajaluse/" title="Наш FaceBook" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 header-n1-phone align-self-center">
                    <small>Бесплатно по России</small>
                    <b><a href="tel:88007757238" class="header-n1-phone-phone">8-800-775-72-38</a></b>
                    <small>e-mail:</small><a class="header-n1-phone-mail" href="mailto:info@jaluse.ru" >info@jaluse.ru</a>

                </div>
                <div class="headerpoisk col-2 align-self-center"><img src="/img/poisk.webp" alt="*"></div>
                <div class="headermbtn col-2 align-self-center"><img src="/img/burger.webp" alt="*"></div>

            </div>
        </div>
    </div>
    <div class="header-n2">
        <div class="container">


            <div class="header-n2-menu">
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/zhalyuzi/">Жалюзи</a>
                    <div class="vip-menu vip-menu1">
                        <div class="container">
                            <div class="row">
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/vertikalnye/">
                                        <img src="/img/zhalyuzi-vertikalnue.png" alt="*">
                                        <span class="zag">Вертикальные жалюзи</span>
                                        <span class="cena"><b>₽ </b>от 1116 руб</span>
                                        <span class="vidi">
												<span class="vidi-zag">Виды:</span>
												<ul>
													<li>Тканевые</li>
													<li>Алюминиевые</li>
													<li>Пластиковые</li>
													<li>Мультифактурные</li>
												</ul>
											</span>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/gorizontalnye/">
                                        <img src="/img/zhalyuzi-gorizontalnue.png" alt="*">
                                        <span class="zag">Горизонтальные Жалюзи</span>
                                        <span class="cena"><b>₽ </b>от 1170 руб</span>
                                        <span class="vidi vidib2">
												<span class="vidi-zag">Виды:</span>
												<ul>
													<li>Стандарт Алюминиевые</li>
													<li>Кассетный Isolite</li>
													<li>Деревянные</li>
													<br>

												</ul>
											</span>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/plisse/">
                                        <img src="/img/jaluzi-plisse.png" alt="*">
                                        <span class="zag">Плиссе</span>
                                        <span class="cena"><b>₽ </b>от 1499 руб</span>
                                        <p>
                                            <b>Более 150 образцов <br> и цветовой гаммы</b>
                                            <br><br><br>
                                            <br><br>
                                        </p>

                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="#">
                                        <img src="/img/jaluzi-na-okna.png" alt="*">
                                        <span class="zag">Жалюзи на окна ПВХ</span>
                                        <span class="cena"><b>₽ </b>от 1116 руб</span>
                                        <p><b>Лучшие образцы и виды жалюзи для пластиковых окон</b>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>

                                <div class="bigtitle">
                                    <span> ВСЕ ИЗДЕЛИЯ ИМЕЮТ ВОЗМОЖНОСТЬ МОНТАЖА БЕЗ СВЕРЛЕНИЯ!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/rulonnyie-shtoryi/">Рулонные шторы</a>
                    <div class="vip-menu vip-menu2">
                        <div class="container">
                            <div class="row">
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/mini/">
                                        <img src="/img/mini1.png" alt="*">
                                        <span class="zag">мини</span>
                                        <span class="cena"><b>₽ </b>от 1116 руб</span>
                                        <p>Самый доступный вариант рулонных штор! <br> Более 300 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/uni/">
                                        <img src="/img/uni1.png" alt="*">
                                        <span class="zag">Кассетные уни</span>
                                        <span class="cena"><b>₽ </b>от 1170 руб</span>
                                        <p>Шторы с вертикальным направляющим и коробом <br> Более 300 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/den-noch/">
                                        <img src="/img/den-noch1.png" alt="*">
                                        <span class="zag">День-ночь</span>
                                        <span class="cena"><b>₽ </b>от 1499 руб</span>
                                        <p>Оригинальный внешний вид и практичность <br> Более 80 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/standartnye-rulonnye-shtory/">
                                        <img src="/img/svobodnovisiachie.png" alt="*">
                                        <span class="zag">Стандартные</span>
                                        <span class="cena"><b>₽ </b>от 1116 руб</span>
                                        <p>100% светонепроницаемые рлонные шторы полностью блокируют солнечные лучи. </p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>

                                <div class="bigtitle">
                                    <span> ВСЕ ИЗДЕЛИЯ ИМЕЮТ ВОЗМОЖНОСТЬ МОНТАЖА БЕЗ СВЕРЛЕНИЯ!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="#">Римские шторы</a>
                    <div class="vip-menu vip-menu3">
                        <div class="container">
                            <div class="row">
                                <div class="menu-card col-lg-4 offset-lg-4">
                                    <a href="#">
                                        <img src="/img/rimskie-shtori.png" alt="*">
                                        <span class="zag">Римские шторы</span>
                                        <span class="cena"><b>₽ </b>от 1116 руб</span>
                                        <p>Самый доступный вариант рулонных штор! <br> Более 300 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="#">Маркизы</a>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="#">Рольставни</a>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="#">Шторы ПВХ</a>
                </div>
                <div class="vip-menu-wrap menu-wrap headern2phone">
                    <a href="#">8-800-775-72-38</a>
                </div>
                <div class="menu-wrap menu-none"><a href="#">Доставка и оплата</a></div>
                <div class="menu-wrap menu-none"><a href="#">Услуги</a></div>
                <div class="menu-wrap menu-none"><a href="#">Контакты</a></div>

            </div>

        </div>
    </div>
</div>
<!--ШАПКА конец-->