<div class="block8">
    <div class="container">
        <div class="row">
            <div class=" cvb cvb1">
                <div class="cvb-head"><a href="#">Жалюзи<br> в дом</a></div>
                <div class="cvb-body"><a href="#"><img src="img/b8-1.jpg" alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="#"><span>На окно</span></a>
                    <a href="#"><span>В проем</span></a>
                    <a href="#"><span>На двуерь</span></a>
                    <a href="#"><span>В кабинет</span></a>
                    <a href="#"><span>В гараж</span></a>
                    <a href="#"><span>В бассейн</span></a>
                    <a href="#"><span>В санузел</span></a>
                </div>
            </div>
            <div class=" cvb cvb2">
                <div class="cvb-head"><a href="#">Жалюзи в квартиру</a></div>
                <div class="cvb-body"><a href="#"><img src="img/b8-2.jpg" alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="#"><span>В детскую</span></a>
                    <a href="#"><span>В спальню</span></a>
                    <a href="#"><span>В зал</span></a>
                    <a href="#"><span>На кухню</span></a>
                    <a href="#"><span>На балкон</span></a>
                    <a href="#"><span>На лоджию</span></a>
                </div>
            </div>

            <div class=" cvb cvb3">
                <div class="cvb-head"><a href="#">Жалюзи для бизнеса</a></div>
                <div class="cvb-body"><a href="#"><img src="img/b8-3.jpg" alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="#"><span>В офис</span></a>
                    <a href="#"><span>В магазин</span></a>
                    <a href="#"><span>В ресторан</span></a>
                    <a href="#"><span>В кафе</span></a>
                    <a href="#"><span>В гостиницу</span></a>
                </div>
            </div>
            <div class=" cvb cvb4">
                <div class="cvb-head"><a href="#">Жалюзи в бюджетные учреждения</a></div>
                <div class="cvb-body"><a href="#"><img src="img/b8-4.jpg" alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="#"><span>Для медучереждений</span></a>
                    <a href="#"><span>Для школы</span></a>
                    <a href="#"><span>В детский сад</span></a>

                </div>
            </div>
        </div>
    </div>
</div>