<div class="block8">
    <div class="container">
        <div class="row">
            <div class=" cvb cvb1">
                <div class="cvb-head"><a href="#">Жалюзи<br> в дом</a></div>
                <div class="cvb-body"><a href="#"><img {{ lazy_load('img/b8-1.jpg') }} alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="/zhalyuzi/"><span>На окно</span></a>
                    <a href="/zhalyuzi/dlya-dvernyh-proemov/"><span>В проем</span></a>
                    <a href="/zhalyuzi/na-balkonnuyu-dver/"><span>На дверь</span></a>
                    <a href="/zhalyuzi/dlya-kabineta/"><span>В кабинет</span></a>
                    <a href="/zhalyuzi/santekhnicheskie/"><span>В санузел</span></a>
                    <a href="/zhalyuzi/na-arochnye-okna/"><span>Для арок</span></a>
                    <a href="/zhalyuzi/na-bolshoe-okno/"><span>На большое окно</span></a>
                </div>
            </div>
            <div class=" cvb cvb2">
                <div class="cvb-head"><a href="#">Жалюзи в квартиру</a></div>
                <div class="cvb-body"><a href="#"><img {{ lazy_load('img/b8-2.jpg') }} alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="/zhalyuzi/v-detskuyu/"><span>В детскую</span></a>
                    <a href="/zhalyuzi/v-spalnyu/"><span>В спальню</span></a>
                    <a href="/zhalyuzi/v-zal/"><span>В зал</span></a>
                    <a href="/zhalyuzi/na-kuhnyu/"><span>На кухню</span></a>
                    <a href="/zhalyuzi/na-balkon/"><span>На балкон</span></a>
                    <a href="/zhalyuzi/pomeshheniya/dlya-lodzhii/"><span>На лоджию</span></a>
                </div>
            </div>

            <div class=" cvb cvb3">
                <div class="cvb-head"><a href="#">Жалюзи для бизнеса</a></div>
                <div class="cvb-body"><a href="#"><img {{ lazy_load('img/b8-3.jpg') }} alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="/zhalyuzi/v-ofis/"><span>В офис</span></a>
                    <a href="/zhalyuzi/pomeshheniya/dlya-restorana/"><span>В ресторан</span></a>
                    <a href="/zhalyuzi/pomeshheniya/dlya-kafe/"><span>В кафе</span></a>
                    <a href="/zhalyuzi/pomeshheniya/v-gostinuyu/"><span>В гостиницу</span></a>
                    <a href="/zhalyuzi/dlya-vitrin/"><span>Для витрин</span></a>
                </div>
            </div>
            <div class=" cvb cvb4">
                <div class="cvb-head"><a href="#">Жалюзи в бюджетные учреждения</a></div>
                <div class="cvb-body"><a href="#"><img {{ lazy_load('img/b8-4.jpg') }} alt="#"></a></div>
                <div class="cvb-footer">
                    <a href="/zhalyuzi/dlya-shkoly/"><span>Для школы</span></a>
                </div>
            </div>
        </div>
    </div>
</div>