<div class="cd-user-modal" id="modal-success">
    <div class="overlay"></div>
    <div class="cd-user-modal-container">
        <div id="cd-raschet" class="is-selected">
            <div class="success_send_popup_body">
                <div class="success_send_popup_img">
                    <div class="sa-icon sa-success animate">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                    </div>
                </div>
                <h2>Спасибо за заявку!</h2>
                <p>Наш менеджер свяжется с вами в самое ближайшее время!</p>
                <div class="success_send_down">
                    <button class="mfp-close modal_close js-submit-success">ОК</button>
                </div>
            </div>
        </div>
    </div> <!-- cd-user-modal-container -->
</div>