{% if page.ourWorksFolder %}
    <div class="works">
        <div class="container container2">
            <div class="zag">Примеры работ:</div>
            {{ swiper_slider(page.ourWorksFolder) }}
        </div>
    </div>
{% endif %}

<!--конец ПРИМЕРЫ РАБОТ(СЛАЙДЕР)-->