<div class="works">
    <div class="container container2">
        <div class="zag">Примеры работ:</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in 1..10 %}
                    <div class="swiper-slide swiper-lazy" data-background="{{ asset('img/primer_min/'~image~'.jpg') }}"
                         data-index="{{ loop.index0 }}">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>
<!--конец ПРИМЕРЫ РАБОТ(СЛАЙДЕР)-->