<div class="baner-wraper">
    <div class="banner-overlay"></div>
    <div class="baner-container">
        <div class="baner-close modal-close-action">&times</div>
        <div class="baner-left">
            <img {{ lazy_load('/img/popup-banner/big-logo.png',['baner-left-logo']) }} alt="*">
            <div class="baner-left-line">Бесплатный выезд и замер!</div>
            <div class="baner-left-line baner-left-line2">Успей купить с 10% скидкой!</div>
            <div class="baner-left-line">* Акция действует до конца месяца!</div>
        </div>
        <div class="baner-right">
            <div class="baner-right-title">Оставьте Ваши контакты <br> и мы свяжемся с Вами</div>
            <form  method="POST" action="{{ path('mail.callback_consultation') }}" class="banner-form">
                <label for="name_client">Введите Ваше имя</label>
                <input type="text" name="name" id="name_client">
                <label for="phone_client">Введите Ваш телефон</label>
                <input type="text" name="phone" id="phone_client" required>

                <input type="submit" class="baner-btn submit-banner-form">
            </form>

        </div>
    </div>

</div>