<!--ПЕРВЫЙ БЛОК начало-->
<div class="block1">
    <div class="b1fonwrap">
        <div class="b1fon b1fon1">1</div>
        <div class="b1fon b1fon2"></div>
        <div class="b1fon b1fon3"></div>
    </div>
    <div class="block1-wrap">
        <div class="container">
            <div class="row">
                <h1 class="col-12">ЖАЛЮЗИ НА ОКНА <br> ОТ ПРОИЗВОДИТЕЛЯ БЕЗ НАЦЕНОК</h1>
                <div class="col-xl-6 offset-xl-1 col-lg-6 utp-wrap align-self-center" >
                    <div class="utp-block"><span>Гарантия 2 года</span></div>
                    <div class="utp-block"><span> Бесплатный выезд и замер</span></div>
                    <div class="utp-block"><span>Изготовление и установка 1-3 дня</span></div>
                </div>
                <div class="col-lg-6 col-xl-4 align-self-center form-wrap">
                    <form action="{{ path('mail.callback_consultation') }}" method="post" class="phone_callback">
                        <span class="zag2">БЕСПЛАТНЫЙ ЗАМЕР И КОНСУЛЬТАЦИЯ</span>
                        <input type="text" placeholder="Имя" name="name" required="">
                        <input type="text" class="phone-field" name="phone" placeholder="Номер телефона" required="">
                        <input type="submit" class="form-btn" value="Узнать стоимость">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ПЕРВЫЙ БЛОК КОНЕЦ-->