<a class="wapopup" target="_blank" href="https://wa.me/79104014017?text=Прошу%20оценить%20стоимость" data-href="whatsapp">
    <div class="wapopup__content"><img src="/img/social/whatsapp.svg" alt="">
        <div class="wapopup__content__text">
            <div>Оцените стоимость</div>
            <div><span>по WhatsApp</span></div>
        </div>
    </div>
</a>