<div style="display: flex; justify-content: space-between; gap: 10px; padding: 10px 0;">
    <input
            type="checkbox"
            name="confidence-policy"
            id="confidence-policy"
            checked=""
            style="width: auto"
    >
    <label for="confidence-policy">Даю <a
                href="{{ path('simple_page_confidence-policy') }}">согласие</a> на обработку и хранение своих персональных данных</label><br>
</div>