<html>
<head>
    <title>Robots Check</title>
    <style>
        #go {
            background-color: green;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<form method="post" action="{{ uri }}">
    <input type="hidden" name="is_human" value="1">
    <input type="submit" value="Перейти на сайт" id="go">
</form>
</body>
</html>