<div data-block="widget-feedback" data-title="Обратная связь" data-stick="right">
    <div data-type="call" data-url="{{ phone }}"></div>
    <div data-type="whatsapp" data-url="https://wa.me/79104014017"></div>
</div>