{% set buttons = ['Рассчитать', 'Консультация'] %}
{% for button in buttons %}
    <button
            formaction="tel:{{ phone }}"
            data-background-color="blue"
            data-color="white"
            data-turbo="false"
            data-primary="true"
    >
        {{ button }}
    </button>
{% endfor %}