<div class="utp-block scroll-item"><span>Изготовление 3-5 дней</span></div>
<div class="utp-block scroll-item"><span>Собственное производство</span></div>
<div class="utp-block scroll-item"><span>Доставка во все регионы РФ</span></div>
<div class="utp-block scroll-item"><span>Бесплатный выезд и замер по Москве и МО</span></div>