{% extends 'base.html.twig' %}
{% block title page.title %}
{% block body %}
    <div class="container">
        <h2>{{ page.name }}</h2>
        <ul>
            {% for item in items %}
                <li><a href="{{ path('dynamic_pages',{'token':item.uri}) }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
