{% extends 'base.html.twig' %}
{% block title 'Карта нашего сайта jaluse.ru' %}
{% block h1 'Карта сайта' %}
{% block body %}
    <div class="container py-4">
        <ul>
            {% for item in pagination %}
                <li><a href="{{ item.path }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}