<div class="utp-block"><span>Гарантия на жалюзи 2 года</span></div>
<div class="utp-block"><span>Бесплатный выезд и замер (c 9:00 до 18:00)</span></div>
<div class="utp-block"><span>Изготовление и установка 1-3 дня</span></div>
<div class="utp-block"><span>Замер и монтаж круглосуточно, 24/7</span></div>