<div class="utp-block scroll-item"><span>Гарантия на жалюзи 2 года</span></div>
<div class="utp-block scroll-item"><span>Бесплатный выезд и замер (c 9:00 до 18:00)</span></div>
{% if '/zhalyuzi/gorizontalnye/derevyannye/' in app.request.pathinfo %}
    <div class="utp-block scroll-item"><span>Скидка 30% на все деревянные жалюзи</span></div>
{% else %}
    <div class="utp-block scroll-item"><span>Изготовление и установка 2-5 рабочих дня</span></div>
{% endif %}
{% if isMainDomain %}
<div class="utp-block scroll-item"><span>При заказе монтажа - доставка в пределах МКАД в подарок!</span></div>
{% endif %}