<!-- Microdata -->
<div itemtype="http://schema.org/AggregateOffer" itemscope="" itemprop="offers">
    <meta content="{{ catalog_products_count(catalogUri, filters|default({})) }}"
          itemprop="offerCount"> <!-- Number of goods -->
    <meta content="{{ maxPrice ?? catalog_max_price(catalogUri, filters|default({})) }}"
          itemprop="highPrice"> <!-- The highest price for a product -->
    <meta content="{{ minPrice ?? discounted_price(catalog_min_price(catalogUri, filters|default({}))) }}"
          itemprop="lowPrice"> <!-- The lowest price for the goods -->
    <meta content="RUB" itemprop="priceCurrency"> <!-- Currency -->
</div>