{% set options = {
    'price': 'По возрастание цены',
    'price-desc': 'По убыванию цены',
    'popular-desc': 'По популярности',
} %}

<div class="order my-3">
    <form method="get" action="#content">
        <label for="order">Сортировка</label>
        <select name="order" class="order" id="order" onchange="this.form.submit()">
            {% for optionValue, optionName in options %}
                <option {{ app.request.query.get('order') == optionValue ? 'selected' }}
                        value="{{ optionValue }}">{{ optionName }}</option>
            {% endfor %}
        </select>
    </form>

</div>