<div class="summary">
    <p class="mt-2">
        <span class="summary__accent">✔</span>
        <span class="summary__title">Интернет-магазин Мастерская Жалюзи это:</span>
    </p>
    <ul>
        <li class="summary__item">✅<span
                    class="summary__accent">{{ products.paginationData.totalCount }}</span> {{ catalog.nameGenitive }} по ценам от ⭐
            <span class="summary__accent">{{ discounted_price(catalog_min_price(catalog.uri, filters|default({}))) }} {{ catalog.units }}</span> ⭐
        </li>
        <li class="summary__item">✅ Быстрое производство, доставка и монтаж в любой точке $city_genitive.</li>
        <li class="summary__item">✅ Самые актуальные цены лучше уточнять у менеджера.</li>
        {% if '/zhalyuzi/gorizontalnye/derevyannye/' in app.request.pathinfo %}
            <li class="summary__item">✅ До конца месяц на все деревянные жалюзи действует <span
                        class="summary__accent-red">скидка 30%</span>.
            </li>
        {% endif %}
    </ul>
</div>